@import "tailwindcss";

@theme {
  --color-bone: #FAF9F6;
  --color-clay: #EBEBEB;
  --color-sage: #D1D1D1;
  --color-deep-olive: #121212;
  --color-sulfur: #3E5C76; /* Muted Navy Accent */
  --font-geist-sans: var(--font-geist-sans);
}

@layer base {
  body {
    @apply bg-bone text-deep-olive antialiased font-sans;
  }
}

.hover-underline {
  position: relative;
}

.hover-underline::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.hover-underline:hover::after {
  width: 100%;
}
